.div33 {
  align-self: stretch;
  position: relative;
  line-height: 128.52%;
  font-weight: 500;
  z-index: 1;
}
.book-title-label {
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0px 0px;
  box-sizing: border-box;
}
.wrapper4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0px 0px;
  box-sizing: border-box;
  min-width: 68px;
}
.div35 {
  flex: 1;
  position: relative;
  line-height: 128.52%;
  font-weight: 500;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.book-availability2 {
  width: 438px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-209xl);
  max-width: 100%;
}
.book-three {
  width: 1387px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child47 {
  height: 125px;
  width: 1454px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.frame-child48 {
  height: 99px;
  width: 75px;
  position: relative;
  border-radius: var(--br-8xs);
  object-fit: cover;
}
.rich-dad-poor1 {
  align-self: stretch;
  position: relative;
  line-height: 128.52%;
}
.robert-tkiyosaki-19973 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 128.52%;
}
.rich-dad-poor-dad-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-wrapper14 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0px;
  box-sizing: border-box;
  min-width: 135px;
}
.rectangle-parent30 {
  width: 329px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-28xl);
  max-width: 100%;
  z-index: 1;
}
.frame-child49 {
  height: 30px;
  width: 181px;
  display: none;
}
.frame-child50 {
  height: 26px;
  width: 85px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-forestgreen);
  display: none;
}
.div36 {
  flex: 1;
  position: relative;
  line-height: 17px;
  z-index: 1;
}
.rectangle-parent31 {
  align-self: stretch;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color-forestgreen);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0px var(--padding-9xs);
  z-index: 1;
}
.frame-wrapper16 {
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px 0px;
  box-sizing: border-box;
}
.frame-child51 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-tomato-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.rectangle-wrapper1 {
  height: 30px;
  width: 185px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-tomato-100);
  box-sizing: border-box;
  z-index: 1;
}
.frame-parent20 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper15 {
  width: 470px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl-5) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.rectangle-parent29 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-smi) var(--padding-32xl) var(--padding-smi)
    var(--padding-4xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.book-list2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  flex-shrink: 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}

@media screen and (max-width: 1050px) {
  .rectangle-parent29 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .book-three {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .div33 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }

  .div35 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }

  .book-availability2 {
    flex-wrap: wrap;
  }

  .rich-dad-poor1 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }

  .rectangle-parent30 {
    flex-wrap: wrap;
  }

  .frame-parent20 {
    flex-wrap: wrap;
  }
}
