.frame-child38 {
  height: 125px;
  width: 1454px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.book-one-content-child {
  height: 99px;
  width: 75px;
  position: relative;
  border-radius: var(--br-8xs);
  object-fit: cover;
}
.dont-make-me4 {
  position: relative;
  line-height: 128.52%;
}
.steve-krug-20004 {
  width: 141px;
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 128.52%;
  display: inline-block;
}
.book-one-title-author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.second-edition {
  width: 141px;
  position: relative;
  font-size: var(--font-size-3xs);
  line-height: 128.52%;
  display: inline-block;
}
.book-one-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.book-one-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-28xl);
  max-width: 100%;
  z-index: 1;
}
.frame-child39 {
  height: 57px;
  width: 180px;
  display: none;
}
.frame-child40 {
  height: 26px;
  width: 85px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-forestgreen);
  display: none;
}
.div31 {
  flex: 1;
  position: relative;
  line-height: 17px;
  z-index: 1;
}
.rectangle-parent25 {
  align-self: stretch;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color-forestgreen);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0px var(--padding-9xs);
  z-index: 1;
}
.action-buttons {
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px 0px;
  box-sizing: border-box;
}
.frame-child41 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-tomato-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.additional-action-container-inner {
  height: 30px;
  width: 185px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-tomato-100);
  box-sizing: border-box;
  z-index: 1;
}
.additional-action-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.additional-book-actions {
  width: 470px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl-5) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.rectangle-parent24 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-smi) var(--padding-33xl) var(--padding-smi)
    var(--padding-4xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}

@media screen and (max-width: 1050px) {
  .rectangle-parent24 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .book-one-content {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .dont-make-me4 {
    font-size: var(--font-size-base);
    line-height: 21px;
  }

  .additional-action-container {
    flex-wrap: wrap;
  }
}
