.frame-child21 {
  width: 565px;
  height: 917px;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.logo-1 {
  width: 150px;
  height: 92.2px;
  position: relative;
  display: none;
}
.sprout-icon1 {
  height: 55.3px;
  width: 50.5px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.grus1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 2;
}
.sprout-parent {
  width: 176.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0px var(--padding-17xl);
  font-size: var(--font-size-29xl);
  color: var(--color);
  font-family: var(--font-chelsea-market);
}
.ant-designheart-filled1 {
  width: 22.3px;
  height: 22.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div20 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-86xl) 0px var(--padding-84xl);
}
.div21 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 128.52%;
  font-family: var(--font-inter);
  color: var(--color-darkgray-100);
  z-index: 1;
}
.frame-parent14 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  max-width: 100%;
}
.frame-wrapper9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-5xs) 0px var(--padding-8xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-godo-m);
}
.div22 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  font-weight: 600;
  z-index: 1;
}
.usernamecollegenameacin {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
}
.user-input {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-smi) var(--padding-sm)
    var(--padding-base);
  min-height: 56px;
  max-width: 100%;
  z-index: 1;
}
.name-and-i-d {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.ellipse-div {
  height: 8px;
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-dimgray);
}
.ellipse-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px;
  gap: var(--gap-9xs);
}
.frame-wrapper10 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0px 0px;
  box-sizing: border-box;
  min-width: 351px;
  max-width: 100%;
}
.eye-off {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent15 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  gap: var(--gap-5xs);
  min-height: 56px;
  max-width: 100%;
  z-index: 1;
}
.profile-info2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.user-form {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 120px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.div24 {
  flex: 1;
  position: relative;
  line-height: 100%;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
}
.button-login1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-3);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mini) var(--padding-base)
    var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  cursor: pointer;
  z-index: 1;
  text-align: center;
  color: var(--color-white);
}
.rectangle-parent16 {
  flex: 1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-56xl) var(--padding-51xl) 194px var(--padding-53xl);
  box-sizing: border-box;
  gap: var(--gap-23xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}
.root1 {
  width: 565px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 525px) {
  .frame-parent15 {
    overflow-x: auto;
  }
}
@media screen and (max-width: 450px) {
  .div20 {
    font-size: var(--font-size-base);
  }

  .wrapper1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .ellipse-div {
    width: 100%;
  }

  .ellipse-parent {
    flex-wrap: wrap;
  }

  .rectangle-parent16 {
    gap: var(--gap-2xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
