.search2 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color);
  text-align: left;
  display: inline-block;
  min-width: 50px;
}

@media screen and (max-width: 450px) {
  .search2 {
    font-size: var(--font-size-base);
  }
}
