.sprout-icon5 {
  height: 55.3px;
  width: 50.5px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.grus3 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.logo-area {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-2xs) 0px 0px;
}
.ant-designheart-filled3 {
  width: 22.3px;
  height: 22.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.side-bar2 {
  flex: 1;
  border-radius: var(--br-3xs) 0px 0px var(--br-3xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-19xl) var(--padding-47xl) var(--padding-502xl)
    var(--padding-33xl);
  gap: var(--gap-94xl);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color);
  font-family: var(--font-chelsea-market);
}

@media screen and (max-width: 750px) {
  .grus3 {
    font-size: var(--font-size-19xl);
  }
}
@media screen and (max-width: 450px) {
  .grus3 {
    font-size: var(--font-size-10xl);
  }
}
